        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: -12%;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        .modal-content {
            background-color: #000000;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%
        }
        
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        
        #myBtn {
            position: absolute;
            margin-top: 36%;
            margin-left: 40%;
            width: 20%;
            background-color: transparent;
            color: whitesmoke;
            border: 1px solid whitesmoke;
            padding: 10px;
            font-size: 12px;
            cursor: pointer
        }
        
        #myBtn:hover {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            font-weight: bold
        }
        
        img {
            height: 40%;
            width: 40%
        }
        
        h6 {
            color: white;
            font-weight: lighter;
            margin-left: 42%
        }
        
        @media only screen and (max-width: 450px) {
            h6 {
                margin-left: 25%
            }
        }
        
        @media only screen and (max-width:1100px) {
            .modal {
                top: 0
            }
        }