body {
    background-color: rgb(0, 0, 0)
}

canvas {
    display: flex;
    margin: 5% auto
}

h1 {
    display: flex;
    align-self: flex-end;
    margin-top: -10%;
    margin-right: 8%;
    color: whitesmoke
}

button {
    display: flex;
    align-self: flex-start;
    margin-top: 5%;
    margin-left: 10%;
    width: 50%;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    transition-duration: 0.4s;
    cursor: pointer
}

button:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

@media only screen and (max-width: 400px) {
    h1 {
        margin-top: -50%;
        font-size: 2vh
    }
    button {
        width: 80%;
        font-size: 1vh;
        padding: 5px 0
    }
}

@media only screen and (min-width: 401px) and (max-width: 650px) {
    h1 {
        margin-top: -30%;
        font-size: 2vh
    }
    button {
        width: 80%;
        font-size: 2vh
    }
}

@media only screen and (min-width: 651px) and (max-width: 750px) {
    h1 {
        margin-top: -25%;
        font-size: 2vh
    }
    button {
        width: 80%
    }
}

@media only screen and (min-width: 751px) and (max-width: 850px) {
    h1 {
        margin-top: -20%;
        font-size: 2vh
    }
    button {
        width: 80%
    }
}

@media only screen and (min-width: 851px) and (max-width: 950px) {
    h1 {
        margin-top: -20%;
        font-size: 2vh
    }
    button {
        width: 80%
    }
}

@media only screen and (min-width: 951px) and (max-width: 1100px) {
    h1 {
        margin-top: -15%;
        font-size: 2vh
    }
    button {
        width: 80%
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 30%
}

#imglogo {
    object-fit: contain
}

@media only screen and (max-width: 750px) {
    #myBtn {
        width: 50% !important;
        margin-top: 500px !important;
        margin-left: 25% !important;
        font-size: 1vh !important
    }
}

@media only screen and (max-width: 1100px) {
    #defaultCanvas0 {
        width: 100% !important;
        height: 100% !important;
        margin-top: 50% !important;
    }
    #myBtn {
        width: 50% !important;
        margin-left: 25% !important;
        margin-top: 76% !important;
        font-size: 2vh !important
    }
}