.container {
    display: flex;
    flex-direction: column
}

.row1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 30%
}

#imglogo {
    object-fit: contain;
}

.row2 {
    display: flex;
    flex-direction: row
}

#imgsquat1 {
    display: flex;
    margin-top: 9%;
}

@media only screen and (max-width: 700px) {
    #imgsquat1 {
        display: none
    }
}

#imgsquat2 {
    display: flex;
    margin-top: 8%;
    margin-left: 65%
}

@media only screen and (max-width: 700px) {
    #imgsquat2 {
        display: flex;
        margin-top: 30%;
        margin-left: 33%;
        width: 35%;
        height: 35%
    }
}

body {
    background-color: rgb(14, 14, 14);
}

h1 {
    display: flex;
    align-self: flex-end;
    margin-top: -10%;
    margin-right: 8%;
    color: whitesmoke;
}

@media only screen and (max-width: 700px) {
    h1 {
        margin-top: -25%;
        font-size: 2vh
    }
}

button {
    display: flex;
    align-self: flex-start;
    margin-top: -3%;
    margin-left: 10%;
    width: 50%;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    transition-duration: 0.4s;
    cursor: pointer
}

button:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

@media only screen and (max-width: 600px) {
    button {
        width: 80%;
        padding: 5px 0
    }
}