body {
    background-color: rgb(0, 0, 0)
}

canvas {
    display: flex;
    margin: 5% auto
}

h1 {
    display: flex;
    align-self: flex-end;
    margin-top: -10%;
    margin-right: 8%;
    color: whitesmoke
}

button {
    display: flex;
    align-self: flex-start;
    margin-top: 5%;
    margin-left: 10%;
    width: 50%;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    transition-duration: 0.4s;
    cursor: pointer
}

button:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 30%
}

#imglogo {
    object-fit: contain
}