@media only screen and (max-width: 400px) {
    h1 {
        margin-top: -50%;
        font-size: 2vh
    }
    button {
        width: 80%;
        font-size: 0.5vh
    }
    #myBtn {
        font-size: 0.5vh;
        margin-top: 90%;
        margin-left: 20%
    }
}

@media only screen and (min-width: 401px) and (max-width: 650px) {
    h1 {
        margin-top: -30%;
        font-size: 2vh
    }
    button {
        width: 80%
    }
    #myBtn {
        margin-top: 90%;
        margin-left: 20%
    }
}

@media only screen and (min-width: 651px) and (max-width: 750px) {
    h1 {
        margin-top: -25%;
        font-size: 2vh
    }
    button {
        width: 80%
    }
    #myBtn {
        margin-top: 90%;
        margin-left: 20%
    }
}

@media only screen and (min-width: 751px) and (max-width: 850px) {
    h1 {
        margin-top: -20%;
        font-size: 2vh
    }
    button {
        width: 80%
    }
    #myBtn {
        margin-top: 90%;
        margin-left: 20%
    }
}

@media only screen and (min-width: 851px) and (max-width: 950px) {
    h1 {
        margin-top: -20%;
        font-size: 2vh
    }
    button {
        width: 80%
    }
    #myBtn {
        margin-top: 90%;
        margin-left: 20%
    }
}

@media only screen and (min-width: 951px) and (max-width: 1100px) {
    h1 {
        margin-top: -15%;
        font-size: 2vh
    }
    button {
        width: 80%
    }
    #myBtn {
        margin-top: 90%;
        margin-left: 20%
    }
}