/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    #imgsquat1 {
        display: none
    }
    button {
        width: 80%;
        padding: 5px 0
    }
    h1 {
        margin-top: -25%;
        font-size: 2vh
    }
    #imgsquat2 {
        display: flex;
        margin-top: 30%;
        margin-left: 33%;
        width: 35%;
        height: 35%
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    #imgsquat1 {
        display: none
    }
    #imgsquat2 {
        display: flex;
        margin-top: 30%;
        margin-left: 33%;
        width: 35%;
        height: 35%
    }
    h1 {
        margin-top: -25%;
        font-size: 2vh
    }
    button {
        width: 80%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}